<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recruitment Portal</title>
    <link id="Link" href="~/Content/assets/images/icon.png" rel="icon" type="image/x-icon" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Content/dashboard/css/style.css" rel="stylesheet">
    <link href="~/Content/dashboard/css/design.css" rel="stylesheet">
    @*<link href="~/Content/dashboard/css/MultiSelectcss.css" rel="stylesheet" />*@
    <base href="@Requirement.Manager.CommonModel.GetBaseUrl()" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

</head>
<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper">
        @*<div class="nav-header">
                <div class="brand-logo">
                    <a href="index-2.html">
                        <b class="logo-abbr"><img src="~/Content/dashboard/images/logo.png" alt=""> </b>
                        <span class="logo-compact"><img src="~/Content/dashboard/images/logo-compact.png" alt=""></span>
                        <span class="brand-title">
                            <img src="~/Content/dashboard/images/logo-text.png" alt="">
                        </span>
                    </a>
                </div>
            </div>*@
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="content-body">
            <div class="container-fluid mt-3">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    @*<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
            @Html.Partial("_Header")
            <div class="app-main">
                @Html.Partial("_Sidebar")
                <div class="app-main__outer">
                    <div class="app-main__inner">
                        @RenderBody()
                    </div>
                    @Html.Partial("_Footer")
                </div>
            </div>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/dashboard/plugins/common/common.min.js"></script>
    @RenderSection("scripts", required: false)

    <script src="~/Content/dashboard/js/custom.min.js"></script>
    <script src="~/Content/dashboard/js/settings.js"></script>
    <script src="~/Content/dashboard/js/gleek.js"></script>
    <script src="~/Content/dashboard/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/Content/dashboard/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/Content/dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/Content/dashboard/plugins/d3v3/index.js"></script>
    <script src="~/Content/dashboard/plugins/topojson/topojson.min.js"></script>
    @*<script src="~/Content/dashboard/plugins/datamaps/datamaps.world.min.js"></script>*@
    <!-- Morrisjs -->
    <script src="~/Content/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/dashboard/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Content/dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/Content/dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Content/dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Content/dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

    @*<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.dataTables.js"></script>*@
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>

    @*<script src="~/Content/dashboard/js/MultiSelect.js"></script>*@

    @*<script src="~/Content/dashboard/js/dashboard/dashboard-1.js"></script>*@

    <script>
        const scrollingElement = (document.scrollingElement || document.body);

        const scrollSmoothToBottom = () => {
            $(scrollingElement).animate({
                scrollTop: document.body.scrollHeight,
            }, 500);
        }

        const scrollSmoothToTop = () => {
            $(scrollingElement).animate({
                scrollTop: 0,
            }, 500);
        }
    </script>


</body>
</html>
