<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recruitment Portal</title>
    <link id="Link" href="~/Content/assets/images/icon.png" rel="icon" type="image/x-icon" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/assets/styles/main.d810cf0ae7f39f28f336.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @*<link href="~/Content/plugins/datatables/media/css/buttons.dataTables.css" rel="stylesheet">*@
    <base href="@Requirement.Manager.CommonModel.GetBaseUrl()" />

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        @Html.Partial("_Header")
        <div class="app-main">
            @Html.Partial("_Sidebar")
            <div class="app-main__outer">
                <div class="app-main__inner">
                    @RenderBody()
                </div>
                @Html.Partial("_Footer")
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")


    @*@Scripts.Render("~/bundles/bootstrap")*@
    @**@
    <script src="~/Content/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>

    @RenderSection("scripts", required: false)
    <script src="~/Content/dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/Content/dashboard/plugins/jqueryui/js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>


    @*<script>
    $(document).ready(function () {
        // Function to check session status
        function checkSession() {
            $.ajax({
                url: '@Url.Action("CheckSession", "Account")', // Endpoint URL
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (!response.isValid) {
                        // Redirect to the login page if the session is invalid
                        window.location.href = '@Url.Action("Login", "Account")';
                    }
                },
                error: function () {
                    console.log("Error checking session status.");
                }
            });
        }

        // Check session status every 60 seconds
       // setInterval(checkSession, 60000); // 60000 milliseconds = 60 seconds
    });
    </script>*@
    <!--@if (HttpContext.Current.Session["CUser"] == null)
    {
        <script>
              $(document).ready(function () {
              //-->@*var url = '@Url.Action("Login", "Account")';
                  location.href = url;*@
                    <!--window.location.href = '@Url.Action("Login", "Account")';
              });
        </script>
    }-->


</body>
</html>
